* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Zilla Slab', serif;
  font-size: 62.5%;
}

:root {
  --main-yellow: #FFFF00;
  --main-pink: #FF416C;
  --main-light-blue: #A2E4F2;
}

/* Styles to welcome section */

.welcome {
  width: 100%;
  height: 100vh;
}

.welcome__header {
  width: 100%;
  height: 5vh;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome__header-dots {
  display: flex;
  gap: 7px;
}

.welcome__header-dots .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.welcome__header-dots .yellow {
  background-color: var(--main-yellow);
}

.welcome__header-dots .pink {
  background-color: var(--main-pink);
}

.welcome__header-dots .light-blue {
  background-color: var(--main-light-blue);
}

.welcome__header-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--main-light-blue);
}

.welcome__title {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-light-blue);
}